#home {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    align-items: center;

    section {
        border-radius: 0px;
        padding-left: $md;
        padding-right: $md;
        height: 100%;
        width: 35%;
    }

    h1 {
        font-size: 100px;
        font-weight: 400;
        text-align: center;
        color: black;
    }

    .play-button-container {
        padding-top: $lg;
        padding-left: 50px;
        display: inline-block;
        width: 50%;
    }

    a.play-button {
        background-color: $blue;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $normal;
        text-align: center;
        width: 90%;
    }

    a.play-button:hover {
        background-position: right center;
        background-size: 200% auto;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
    }

    .auth-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: $lg;
    }

    .auth-container .auth-buttons {
        color: #fff;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3s linear all;
        width: 45%;
    }
}

@media (max-width: 768px) {
    #home section {
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}